.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    padding-top: 20px;
    padding: 10px;
    position: fixed;
    overflow: auto;
}

.main-extra {
    display: flex;
    flex-direction: row;
    background-color: white;
}

.profile-content {
    padding: 20px;
}

.profilediv {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.profilepicdiv {
    width: 190px;
    height: 190px;
    background-color: #D6EBFF;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}

.profilepic {
    scale: 0.85;
    border-radius: 100px;
}

.profiledetails {
    padding: 30px;
}

.profdetails {
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(107, 107, 107);
}


@media screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .profile-content {
        padding: 5px;
    }

    .profilediv {
        margin-left: 5px;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profilepicdiv {
        width: 40vw;
        height: 40vw;
        overflow: hidden;
    }

    .profilepic {
        width: 40vw;
        height: 40vw;
    }

    .profiledetails {
        padding-top: 10px;
    }
    
  }