.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    padding-top: 20px;
    padding: 10px;
    position: fixed;
    overflow: auto;
}

.main-extra {
    display: flex;
    flex-direction: row;
    background-color: white;
    min-height: 100vh;
}

.main-content {
    margin-left: 15px;
    margin-top: 15px;
    width: 100%;
    margin-right: 15px;
}


.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: #D3D3D3;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 15px;
}

.page {
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 7vw;
    width: 100%;
}


.sidepanel {
    max-width: 100vw;
}

@media screen and (max-width: 600px){
    .main-extra {
        flex-direction: column;
    }
}