.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    padding-top: 20px;
    padding: 10px;
}

.page {
    padding-left: 20px;
}

.sidepanel {
    max-width: 7vw;
}
h1 {
    
}

.input-search {
    width: 15vw;
    height: 20px;
    min-width: 420px;
    background-color: #F4F4F4;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 30px;
    font-size: 20px;

}

.search-div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


.search-icon {
    margin-top: 0px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 50px;
    background-color: #F4F4F4;
}

.search-icon:hover {
    background-color: #d1d1d1;
}

.horizontal-line {
    width: 100vw;
    height: 2px;
    background-color: #D3D3D3;
    margin-top: 40px;
    margin-bottom: 40px;
}

.popular-searches {
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.popular-searches-pebble {
    height: 50px;
    min-width: 100px;
    background-color: #F4F4F4;
    border-radius: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.popular-searches::-webkit-scrollbar {
    width: 0; /* Set the width of the scrollbar to 0 */
    height: 0; /* Set the height of the scrollbar to 0 */
}

.popular-searches-pebble:hover {
    background-color: #d1d1d1;
}

.book {
    width: 50vw;
    height: fit-content;
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.315);
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.book:hover {
    box-shadow: 0 2px 12px 10px rgba(0, 0, 0, 0.226);
}

.thumbimage {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.bookname {
    margin-bottom: 20px;
}


@media screen and (max-width: 600px) {
    .main {
        padding: 0;
    }
    .sidepanel {
        width: 0;
    }
    .input-search {
        min-width: 250px;
    }
    .book {
        flex-direction: column;
        width: calc(100vw - 40px);
        align-items: center;
    }
  }